# Hidden directories
.vscode/
.idea/
.vs/

# Not tracking object files/dirs
obj/
bin/

# Compiler outputs we're not tracking
*.[Oo]
*.[Ss]
*.map
*.pdb
*.ilk
*.exp
*.dll
*.so.*
*.exe
*.lib
*.bin
*.dol
*.nds
*.3dsx
*.xex
*.bin

# Other files not being tracked
*.cmake
*.rst
*.doc

# Archives
*.7z
*.rar
*.zip
*.tar.*
*.gz
*.xz
*.bz2

# Built by some tools
compile_commands.json